<main class="hacia-abajo">

  <div class="titulo">
    <h2>Contactar Profesional</h2>
  </div><br>

  <div class="conteiner d-flex justify-content-center" >
    <div class="prestador card-body row">  
      <div class="col-md-8 col-sm-8 col-7">
        <h3 class="card-title my-4">Juan Perez</h3>
        <h4 class="my-4">Gasista</h4>
      </div>
      <div class="col-md-4 col-sm-4 col-5" >
        <img class="foto m-3" src="./assets/img/fotoPrestador.jpg" alt="Title">
      </div>
      <div class="" >
        <p>Matrícula: M830-111</p>
        <p>E-mail: juanperezgas@unmail.com</p>
        <p>Teléfono: 351-155-123456</p><br>
        <!-- <p>Dirección: Rivadavia 123 ***</p> -->    
        <div>
          <a href="mailto:      ?">
            <button type="button" class="btn mb-2 me-2" style="background: var(--main-blue); color: white">Enviar correo electrónico</button>
          </a>    
          <a href="https://api.whatsapp.com/send?fhone=8&text=">
            <button type="button" class="btn btn-success mb-2">Enviar Whatsapp</button>
          </a>
        </div><br/>
        <h5>Algunos trabajos:</h5>
        <div id="carouselExampleControls" class="carousel slide my-3" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
              <!-- data-bs-interval="3000" t de transición de las imgs -->
              <img src="./assets/img/trabajo-01.jpg" class="d-block w-100" alt="slide1">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="./assets/img/trabajo-02.jpg" class="d-block w-100" alt="slide2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="./assets/img/trabajo-03.jpg" class="d-block w-100" alt="slide3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
