<main class="hacia-abajo">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3 mb-lg-5">
        <div class="overflow-hidden card table-nowrap table-card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Profesionales</h5>
            <a href="#!" class="btn btn-light btn-sm">View All</a>
          </div>
          <div class="table-responsive" >
            <table class="table mb-0" *ngIf="mostrarProfesionales">
              <thead class="small text-uppercase bg-body text-muted">
                <tr>
                  <th>Nombre y Apellido</th>
                  <th>Email</th>
                  <th>Profesión</th>
                  <th>Teléfono</th>
                  <th>Dirección</th>
                  <th>Raking</th>
                  <th>Membresía</th>
                  <th>Editar</th>
                  <th class="text-end">Eliminar</th>
                </tr>
              </thead>
              <tbody *ngFor="let profesional of profesionales">
                <tr class="align-middle">
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src= "{{ profesional.imagen }}"
                        class="avatar sm rounded-pill me-3 flex-shrink-0"
                        alt="Customer"
                      />
                      <div>
                        <div class="h6 mb-0 lh-1">{{ profesional.nombre }} {{ profesional.apellido }}</div>
                      </div>
                    </div>
                  </td>
                  <td>{{ profesional.profesion }}</td>
                  <td>{{ profesional.email }}</td>
                  <td>{{ profesional.telefono }}</td>
                  <td>{{ profesional.direccion }}</td>
                  <td align="center">{{ profesional.ranking }}</td>
                  <td align="center">{{ profesional.membresia }} act/inact</td>
                  <td align="center">
                    <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                  </td>
                  <td align="center">
                    <a href="#"><i class="fa-solid fa-trash"></i></a>
                  </td>
                 
                <!-- </tr>
                <tr class="align-middle">
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar2.png"
                        class="avatar sm rounded-pill me-3 flex-shrink-0"
                        alt="Customer"
                      />
                      <div>
                        <div class="h6 mb-0 lh-1">Topias Kantola</div>
                      </div>
                    </div>
                  </td>
                  <td>topiaskantola@email.com</td>
                  <td><span class="d-inline-block align-middle">Brazil</span></td>
                  <td><span>****@mail.com</span></td>
                  <td>21 Sep, 2021</td>
                  <td class="text-end">
                    <div class="drodown">
                      <a data-bs-toggle="dropdown" href="#" class="btn p-1">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="#!" class="dropdown-item">View Details</a>
                        <a href="#!" class="dropdown-item">Delete user</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="align-middle">
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="avatar sm rounded-pill me-3 flex-shrink-0"
                        alt="Customer"
                      />
                      <div>
                        <div class="h6 mb-0 lh-1">Anaiah Whitten</div>
                      </div>
                    </div>
                  </td>
                  <td>anaiahwhitten@email.com</td>
                  <td>
                    <span class="d-inline-block align-middle">Poland</span>
                  </td>
                  <td><span>****0014</span></td>
                  <td>12 June, 2021</td>
                  <td class="text-end">
                    <div class="drodown">
                      <a data-bs-toggle="dropdown" href="#" class="btn p-1">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="#!" class="dropdown-item">View Details</a>
                        <a href="#!" class="dropdown-item">Delete user</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="align-middle">
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar4.png"
                        class="avatar sm rounded-pill me-3 flex-shrink-0"
                        alt="Customer"
                      />
                      <div>
                        <div class="h6 mb-0 lh-1">Wyatt Morris</div>
                      </div>
                    </div>
                  </td>
                  <td>wyattmorris@email.com</td>
                  <td>
                    <span class="d-inline-block align-middle">Kenya</span>
                  </td>
                  <td><span>****8715</span></td>
                  <td>04 June, 2021</td>
                  <td class="text-end">
                    <div class="drodown">
                      <a data-bs-toggle="dropdown" href="#" class="btn p-1">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="#!" class="dropdown-item">View Details</a>
                        <a href="#!" class="dropdown-item">Delete user</a>
                      </div>
                    </div>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

