<main>
    <!--Sobre nosotros-->
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Sobre Nosotros</h2>
                        <p class="aboutus-text">We Fix es una plataforma digital creada para la búsqueda de servicios para el hogar de manera integral, donde los usuarios pueden buscar entre múltiples opciones de prestadores disponibles según sus necesidades así como también ofrecer sus servicios hacia potenciales clientes.</p>
                        <p class="aboutus-text">Garantizamos un servicio de calidad y eficiencia
                            Brindamos atención personalizada a cargo de profesionales responsables
                            Tu tiempo nos importa, por lo que ofecemos una rápida respuesta a tus problemas</p>
                        <a class="aboutus-more" href="#">Leer más</a>
                    </div>
                </div>
                <!-- Hay que arreglar el Responsive del banner -->
                <!--Banner Mecánico-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="/assets/img/mecanico-tenencia-cepillo-removebg-preview.png" class="imagen" alt="">
                    </div>
                </div> 

                <!--Nuestras caracteristicas-->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Trabajos a medida</h4>
                                    <p>Las mejores soluciones para vos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Servicio confiable</h4>
                                    <p>Te garantizamos tranquilidad e inspiramos confianza.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Excelencia y calidad</h4>
                                    <p>Contamos con los mejores profesionales para brindar soluciones rápidas y eficaces.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

       <!--<cartas-->
     <div class="container p-5">
        <h1 class="title-team">Nuestro Equipo</h1>
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="text-center">
                        <div class="img-hover-zoom img-hover-zoom--colorize">
                            <img class="shadow" src="/assets/img/foto-lucia.png"
                                alt="Another Image zoom-on-hover effect">
                        </div>
                    </div>
       
                    <div class="card-body">
                        <div class="clearfix mb-3">
                        </div>
                        <div class="my-2 text-center">
                            <h1>Lucia <br> Soler</h1>
                        </div>
                        <div class="mb-3">
                            <h2 class="text-uppercase text-center role">Full Stack Developer</h2>
                        </div>
                        <div class="box">
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fab fa-github"><link rel="icon" href="/assets/github.png" type="image" sizes="32x32">
                                    </i></li>
                                    <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="text-center">
                        <div class="img-hover-zoom img-hover-zoom--colorize">
                            <img class="shadow" src="/assets/img/ignacio_soler.png"
                                alt="Another Image zoom-on-hover effect">
                        </div>
                    </div>            
                    <div class="card-body">
                        <div class="clearfix mb-3">
                        </div>
                        <div class="my-2 text-center">
                            <h1>Ignacio Soler</h1>
                        </div>
                        <div class="mb-3">
                            <h2 class="text-uppercase text-center role">Full Stack Developer</h2>
                        </div>
                        <div class="box">
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fab fa-github"><link rel="icon" href="/assets/github.png" type="image" sizes="32x32">
                                    </i></li>
                                    <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="text-center">
                        <div class="img-hover-zoom img-hover-zoom--colorize">
                            <img class="shadow" src="/assets/img/foto-juan.jpg"
                                alt="Juan">
                        </div>
                    </div>           
                    <div class="card-body">
                        <div class="clearfix mb-3">
                        </div>
                        <div class="my-2 text-center">
                            <h1>Juan Fernández</h1>
                        </div>
                        <div class="mb-3">
                            <h2 class="text-uppercase text-center role">Full Stack Developer</h2>
                        </div>
                        <div class="box">
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fab fa-github"><link rel="icon" href="/assets/github.png" type="image" sizes="32x32">
                                    </i></li>
                                    <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="text-center">
                        <div class="img-hover-zoom img-hover-zoom--colorize">
                            <img class="shadow" src="/assets/img/Di Bella Maximiliano.png"
                                alt="Maximiliano">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">
                        </div>
                        <div class="my-2 text-center">
                            <h1>Maximiliano Di Bella</h1>
                        </div>
                        <div class="mb-3">
                            <h2 class="text-uppercase text-center role">Full Stack Developer</h2>
                        </div>
                        <div class="box">
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fab fa-github"><link rel="icon" href="/assets/github.png" type="image" sizes="32x32">
                                    </i></li>
                                    <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="text-center">
                        <div class="img-hover-zoom img-hover-zoom--colorize">
                            <img class="shadow" src="/assets/img/maria_carrazan.jpeg"
                                alt="Another Image zoom-on-hover effect">
                        </div>
                    </div>    
                    <div class="card-body">
                        <div class="clearfix mb-3"></div>
                        <div class="my-2 text-center">
                            <h1>María Carrazán</h1>
                        </div>
                        <div class="mb-3">
                            <h2 class="text-uppercase text-center role">Full Stack Developer</h2>
                        </div>
                        <div class="box">
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fab fa-github"><link rel="icon" href="https://github.com/Morgwens" type="image" sizes="32x32">
                                    </i></li>
                                    <li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        </div>
    </div>
</main>



<!--Falta hacer que cada carta tenga el icono con nuestras redes sociales-->