<main class="hacia-abajo">
  <div class="container">
    <div class="section-title">
      <h2>Soporte</h2>
    </div>
    <div class="container site-wraper">
      <div class="row bg-custom w-auto d-flex justify-content-center">
        <div class="col-auto">
          <h3 class="text-white">¿Necesitás ayuda?</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 my-1 px-1">
          <div class="card">
            <div class="d-flex align-items-center mt-3">
              <img class="card-img-top" src="./assets/img/user.svg" alt="Card image" style="width: 10%">
              <h5 class="card-title">¿Cómo me registro en We Fix?</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Dirígite a la sección Registro, completá el formualario según tu categoría, revisá tu casilla de correo, validá tu cuenta y listo! Ya sos parte de We Fix.</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 my-1 px-1">
          <div class="card">
            <div class="d-flex align-items-center mt-3">
              <img class="card-img-top" src="./assets/img/click.svg" alt="Card image" style="width: 10%">
              <h5 class="card-title">¿Cómo contrato un servicio?</h5>
            </div>
            <div class="card-body">
              <p class="card-text">En el menú principal de nuestro sitio encontrarás todos los servicios disponibles, seleccioná el que necesites y contactate con el profesional que mejor se adapte a tus necesidades.</p>
            </div>
          </div>
        </div>
        <div class="d-block col-6 col-md-4 my-1 px-1">
          <div class="card">
            <div class="d-flex align-items-center mt-3">
              <img class="card-img-top" src="./assets/img/tiempo.svg" alt="Card image" style="width:10%">
              <h5 class="card-title">¿Cuánto tiempo demorará el profesional en realizar su trabajo?</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Una vez seleccionado el servicio, cada profesional realizará una pre-evaluación para orientar al cliente en cuanto a la estimación de tiempos por su labor.</p>
            </div>
          </div>
        </div>
        <div class="d-block col-6 col-md-4 my-1 px-1">
          <div class="card">
            <div class="d-flex align-items-center mt-3">
              <img class="card-img-top" src="./assets/img/pago.svg" alt="Card image" style="width:10%">
              <h5 class="card-title">¿Qué métodos de pago puedo utilizar? </h5>
            </div>  
            <div class="card-body">
              <p class="card-text">Los métodos de pago para la suscripción la sitio son mediante crédito, debito o transferencia bancaria, a través de nuestra pasarela de pagos.</p>
            </div>
          </div>
        </div>
        <div class="d-block col-6 col-md-4 my-1 px-1">
          <div class="card">
            <div class="d-flex align-items-center mt-3">
              <img class="card-img-top" src="./assets/img/cancel.svg" alt="Card image" style="width:10%">
              <h5 class="card-title">Una vez contratado el servicio, ¿puedo cancelarlo? </h5>
            </div>
            <div class="card-body">
              <p class="card-text"> La suscripción a We Fix puede ser cancelada en el momento que el profesional lo desee, previa notificación de su deseo de dar la baja al servicio y la publicación de sus datos en la web.</p>
            </div>
          </div>
        </div>
        <div class="d-block col-6 col-md-4 my-1 px-1">
          <div class="card" style=>
            <div class="d-flex align-items-center mt-3">
              <img class="card-img-top" src="./assets/img/pay.svg" alt="Card image" style="width:10%">
              <h5 class="card-title">Si el servicio no me convence, ¿puedo solicitar garantía de reembolso? </h5>
            </div>
            <div class="card-body">
              <p class="card-text">Si el servicio no es el esperado la empresa no otorgará ningún tipo de reembolso.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</main>