main {
  background-color: var(--main-white);
  padding-bottom: 3em;
}

/* BANNER */
.banner {
  height: 360px;
  background: url("/assets/img/banner.png") no-repeat center / cover;
  margin-top: 30px;
}

/* CATEGORÍAS */
.central {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.iconos__inicio {
  display: flex;
  justify-content: center;
  height: 7.5em;
  margin: 1rem 0;
}

.un-icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.logo-servicio {
  width: 50px;
  height: 50px;
  margin: 1.5em;
}

.logo-servicio:hover {
  height: 55px;
  width: 55px;
}

.central {
  margin-bottom: 50px;
}

h2.index{
  font-weight: 600;
}

div.texto {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.oculto {
  display: none;
}

/* CARDS */
.card {
  margin-top:20px;
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  margin-bottom: 30px;
  background-color: white;
}

.btn {
  margin-left: 5px;
  color: var(--main-white);
}

.btn.contactar {
  margin-left: 5px;
  background: var(--main-blue); 
  color: var(--main-white); 
}

.photo {
  width: 75%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background-color: var(--main-blue);
  border-radius: 50%;
  color: var(--main-white);
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  font-size: 12px;
}

a {
  color: var(--main-light-orange);
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .banner {
    height: 200px;
  }
  .iconos__inicio {
    scale: 85%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }