<main>
    <div class="contacto">
      <div class="contacto__container">
        <div class="logo">
          <img src="./assets/img/logo-index.png" alt="Logotipo de WeFix" />
        </div>
        
        <form class="formulario" name="formulario" onsubmit="return validarForm()">
          <h4 class="formulario_title">
            <strong>Envianos tu consulta</strong>
          </h4><br>
          
          <label for="email" class="formulario__label">
            <strong>CORREO ELECTRÓNICO</strong></label>
          <input
            name="email"
            class="formulario__input input__email"
            type="text"
            placeholder="Ingresa tu e-mail"
          />
          <label for="nombre" class="formulario__label">
            <strong>NOMBRE</strong></label>
          <input
            name="nombre"
            class="formulario__input input__nombre"
            type="text"
            placeholder="Ingresa tu nombre"
          />
          <label for="asunto" class="formulario__label">
            <strong>ASUNTO</strong></label>
          <input
            name="asunto"
            class="formulario__input input__asunto"
            type="text"
            placeholder="Coloca un asunto"
          />
          <label for="mensaje" class="formulario__label">
            <strong>MENSAJE</strong></label>
          <textarea
            name="mensaje"
            id="input__mensaje"
            cols="80"
            rows="7"
            placeholder="Tu mensaje aquí"></textarea>
          <button 
            type="submit" 
            value="submit"
            class="formulario__button"
            onclick="return saludo()">ENVIAR
          </button>
        </form>
      </div>

      <img
        src="./assets/img/contacto-hero.png"
        alt="Imagen de un profesional"
        class="contacto__img"
      />
    </div>
  </main>