main {
  background-color: var(--main-white);
  padding-bottom: 3em;
}

.titulo h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative;
  color: var(--main-dark-blue);
  text-align: center;
}

.titulo h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.titulo h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--main-light-blue);
  bottom: 0;
  left: calc(50% - 20px);
}

body{
  margin-top:20px;
  background:#f8f8f8
}

.form-group label {
  margin-top:  5px;
}

