
<main>
  <div class="titulo">
    <h2>Preguntas Frecuentes</h2>
  </div>

  <div class="container">
    <div class='faq'>
      <input id='faq-a' type='checkbox'>
      <label for='faq-a'>
          <p class="faq-heading">¿De qué se trata We Fix?</p>
          <div class='faq-arrow'></div>
          <p class="faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint deserunt quod illo. 
              Sit odio pariatur tempora, laboriosam odit numquam, 
              autem nostrum asperiores quia perspiciatis fugiat nam minus deleniti quae?.</p>
      </label>
      <input id='faq-b' type='checkbox'>
      <label for='faq-b'>
          <p class="faq-heading">¿Es requisito pagar por este servicio?</p>
          <div class='faq-arrow'></div>
          <p class="faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Fugiat, harum tempore omnis expedita animi obcaecati voluptatem temporibus. Ducimus, error labore!</p>
      </label>
      <input id='faq-c' type='checkbox'>
      <label for='faq-c'>
          <p class="faq-heading">¿Qué incluye la membresía?</p>
          <div class='faq-arrow'></div>
          <p class="faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Recusandae quisquam rem quaerat sapiente porro repudiandae commodi eum! Omnis, laborum dolorum..</p>
      </label>
      <input id='faq-d' type='checkbox'>
      <label for='faq-d'>
          <p class="faq-heading">¿Debo registrarme para acceder al servicio?</p>
          <div class='faq-arrow'></div>
          <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              Doloribus ullam facilis illo! Ipsum est, eaque sequi consequatur voluptates debitis expedita! </p>
      </label>
      <input id='faq-e' type='checkbox'>
      <label for='faq-e'>
          <p class="faq-heading">¿Tengo garantía por el trabajo realizado?</p>
          <div class='faq-arrow'></div>
          <p class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ea accusamus blanditiis quibusdam. Ipsa at, ab quam, 
              dolorem quo vitae facilis, similique voluptatem in quas quibusdam sapiente consequuntur aut accusamus!.</p>
      </label>
    </div>
  </div>
</main>
