<footer class="text-center text-lg-start" style="background-color: var(--main-blue); color: var(--main-white);">
  <!-- Redes -->
  <section class="container d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Buscanos en nuestras redes:</span>
    </div>
    <div>
      <a href="https://www.facebook.com/" class="footer me-4 text-reset">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com/" class="footer me-4 text-reset">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/" class="footer me-4 text-reset">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </section>

  <!-- Links  -->
  <section>
    <div class="footer-content container text-center text-md-start mt-4">
      <div class="row mt-3 text-decoration-none">
        <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mb-4 ">
          <p><a routerLink="home" class="text-reset">Inicio</a></p>
          <p><a routerLink="sobre_nosotros" class="text-reset">Nosotros</a></p>
          <p><a routerLink="contacto" class="text-reset">Contacto</a></p>
        </div>
        <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mb-4 ">
          <p><a routerLink="registro" class="text-reset">Registro</a></p>
          <p><a routerLink="login" class="text-reset">Ingresar</a></p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <p><a routerLink="frecuentes"  class="text-reset">Preguntas frecuentes</a></p>
          <p><a routerLink="soporte" class="text-reset">Soporte</a></p>
          <p><a routerLink="terminos" class="text-reset">Términos y condiciones</a></p>
          <p><a routerLink="privacidad" class="text-reset">Políticas de privacidad</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
          <p><i class="fas fa-home me-3"></i> Córdoba, Córdoba, Argentina</p>
          <p><i class="fas fa-envelope me-3"></i>info@wefix.com</p>
          <p><i class="fas fa-phone me-3"></i> + 54 351 123 000</p>
          <p><i class="fa-brands fa-whatsapp me-3"></i> + 54 351 123 789</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="footer-copy text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <span>© 2023 Copyright: 
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">WeFix.com</a>
    </span>
  </div>
</footer>
