<main>
  <div class="registro" align="center">
    <div class="registro__container">
      <div class="logo">
        <img src="/assets/img/logo-index.png" />
      </div>
      <h4 class="formulario_title">
        <strong>Unite a nuestra comunidad ¡Registrate ahora!</strong>
      </h4>
      <br />
      <h4>Seleccione su categoría:</h4>
      <br />
      <div>
        <button
          type="submit"
          class="formulario__button m-2"
          [ngClass]="{ 'selected': user_type === 'cliente' }"
          (click)="setUserType('cliente')"
        >
          CLIENTE
        </button>
        <button
          type="submit"
          class="formulario__button m-2"
          [ngClass]="{ 'selected': user_type === 'trabajador' }"
          (click)="setUserType('trabajador')"
        >
          TRABAJADOR
        </button>
        <p class="warning" id="warning"></p>
      </div>
      <form class="formulario" id="form" (submit)="handleSubmit()">
        <label for="nombre" class="formulario__label">
          <strong>NOMBRE</strong>
          </label
>
        <input
          type="text" [formControl]="name"
          placeholder="Ingresa un nombre"
          name="name"
          class="formulario__input"
          id="nombre"
          
        />
        <div class="alert alert-danger mt-1" [hidden]="name.valid || name.pristine">
          El nombre es obligatorio
        </div>

        <label for="nombre" class="formulario__label">
          <strong>APELLIDO</strong></label
        >
        <input
          type="text" [formControl]="surname"
          placeholder="Ingresa un apellido"
          name="apellido"
          class="formulario__input"
          id="nombre"
        />
        <div class="alert alert-danger mt-1" [hidden]="surname.valid || surname.pristine">
          El apellido es obligatorio
        </div>
        <label for="nombre" class="formulario__label">
          <strong>CORREO ELECTRÓNICO</strong></label
        >
        <input
          type="email" [formControl]="email"
          placeholder="Ingresa tu e-mail"
          name="nombre"
          class="formulario__input"
          id="email"
        />
        <div class="alert alert-danger mt-1" [hidden]="email.valid || email.pristine">
          <span *ngIf="email.errors?.['required']">
            El email es obligatorio
          </span>
          <span *ngIf="email.errors?.['email']">
            El email debe ser válido
          </span>
        </div>

        <label for="password" class="formulario__label">
          <strong>CONTRASEÑA</strong></label
        >
        <input
          type="password" [formControl]="password"
          placeholder="Escribe tu contraseña"
          name="password"
          class="formulario__input"
          id="pass"
        />
        <div class="alert alert-danger mt-1" [hidden]="password.valid || password.pristine">
          <span *ngIf="password?.hasError('required')">
            La contraseña es obligatorio
          </span>
          <br>
          <span *ngIf="password?.errors">
            La contraseña debe tener 8 (ocho) o más caracteres
          </span>
        </div>

        <label for="password" class="formulario__label">
          <strong>CONFIRMA CONTRASEÑA</strong></label
        >
        <input
          type="password" [formControl]="password"
          placeholder="Repite tu contraseña"
          name="password"
          class="formulario__input"
        />

        <div class="alert alert-danger mt-1" [hidden]="repeatpassword.valid || repeatpassword.pristine">
          <span *ngIf="repeatpassword?.hasError('rerequired')">
           Repetir la contraseña es obligatorio
          </span>
          <br>
          <span *ngIf="repeatpassword?.hasError('minlength')">
            La contraseña debe tener 8 (ocho) o más caracteres
          </span>
        </div>


        <ng-container *ngIf="user_type === 'cliente'">
            <label for="nombre" class="formulario__label">
                <strong>DIRECCIÓN</strong></label
              >
              <input
                type="text" [formControl]="address"
                placeholder="Ingresa una dirección"
                name="name"
                class="formulario__input"
                id="nombre"
              />
              <div class="alert alert-danger mt-1" [hidden]="address.valid || address.pristine">
                La dirección es obligatorio
              </div>

              <label for="nombre" class="formulario__label">
                <strong>CIUDAD</strong></label
              >
              <input
                type="text" [formControl]="city"
                placeholder="Ingresa una ciudad"
                name="name"
                class="formulario__input"
                id="nombre"
              />
              <div class="alert alert-danger mt-1" [hidden]="city.valid || city.pristine">
                La ciudad es obligatoria
              </div>


              <label for="nombre" class="formulario__label">
                <strong>PROVINCIA</strong></label
              >
              <input
                type="text" [formControl]="province"
                placeholder="Ingresa una provincia"
                name="name"
                class="formulario__input"
                id="nombre"
              />
              <div class="alert alert-danger mt-1" [hidden]="province.valid || province.pristine">
                La provincia es obligatoria
              </div>

              <label for="nombre" class="formulario__label">
                <strong>PAÍS</strong></label
              >
              <input
                type="text" [formControl]="country"
                placeholder="Ingresa un país"
                name="name"
                class="formulario__input"
                id="nombre"
              />
              <div class="alert alert-danger mt-1" [hidden]="country.valid || country.pristine">
                El país es obligatorio
              </div>


        </ng-container>
        <ng-container *ngIf="user_type === 'trabajador'">
            <label for="nombre" class="formulario__label">
                <strong>PROFESIÓN</strong></label
              >
              <input
                type="text" [formControl]="profession"
                placeholder="Ingresa una profesión"
                name="name"
                class="formulario__input"
                id="nombre"
              />

              <div class="alert alert-danger mt-1" [hidden]="profession.valid || profession.pristine">
                La profesión es obligatoria
              </div>

              <label for="nombre" class="formulario__label">
                <strong>PRECIO POR HORA</strong></label
              >
              <input
                type="number" [formControl]="priceperhour"
                placeholder="Ingresa un precio por hora"
                name="name"
                class="formulario__input"
                id="nombre"
              />

              <div class="alert alert-danger mt-1" [hidden]="priceperhour.valid || priceperhour.pristine">
                El precio por hora es obligatorio
              </div>
        </ng-container>
        <button type="submit" class="formulario__button selected">REGISTRARSE</button>
      </form>
    </div>
  </div>
</main>