<main>
  <div class="login">
    <!--Formulario-->
    <div class="login__container">
      <div class="login__logo">
        <img src="./assets/img/logo-index.png" alt="Logotipo de WeFix" />
      </div>
      <form
        class="formulario"
        name="formulario"
        onsubmit="return validarForm()"
      >
        <label for="email" class="formulario__label"
          ><strong>CORREO ELECTRÓNICO</strong></label
        >
        <input
          name="email"
          class="formulario__input input__email"
          type="text"
          placeholder="Correo electrónico"
        />
        <label for="password" class="formulario__label"
          ><strong>CONTRASEÑA</strong></label
        >
        <input
          name="password"
          class="formulario__input-password"
          type="password"
          placeholder="Contraseña"
        />
        <div class="formulario__captions">
          <label>
            <input type="checkbox" checked="checked" name="remember" />
            Recordar datos del usuario
          </label>
          <span><a href="#"> Olvidé mi contraseña</a></span>
        </div>
        <button type="submit" class="formulario__button">
          <a routerLink="">INICIAR SESIÓN</a>
        </button>
        <h5 class="formulario__registrarse">
          ¿Todavía no tenés una cuenta?
          <a href="./registro.html">Registrate gratis</a>
        </h5>
      </form>
    </div>
    <!--Imagen-->

    <img
      src="./assets/img/login-hero.png"
      alt="Imagen de un profesional"
      class="login__img"
    />
  </div>
</main>
