<main>
  <div class="login">
    <!--Formulario-->
    <div class="login__container">
      <div class="login__logo">
        <img src="./assets/img/logo-index.png" alt="Logotipo de WeFix" />
      </div>
      <form
        class="formulario"
        name="formulario"
        onsubmit="return validarForm()"
      >
        <label for="email" class="formulario__label"
          ><strong>CORREO ELECTRÓNICO</strong></label
        >
        <input
          name="email"
          class="formulario__input input__email"
          type="text" [formControl]="email"
          placeholder="Correo electrónico"
        />

        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
          <span *ngIf="email.errors?.['required']">
          El correo electónico es obligatorio
        </span>

        <span *ngIf="email.errors?.['email']">
          El correo electrónico debe ser válido
        </span>

        </div>

        <label for="password" class="formulario__label"
          ><strong>CONTRASEÑA</strong></label
        >
        <input
          name="password" [formControl]="password"
          class="formulario__input-password"
          type="password" 
          placeholder="Escribe tu contraseña"
        />

        <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
         <span *ngIf="password?.hasError('required')">
          La contraseña es obligatoria
         </span>
         <br>
         <span *ngIf="password?.errors">
          La contraseña debe tener 8 (ocho) caracteres
         </span>

        </div>
        <div class="formulario__captions">
          <label>
            <input type="checkbox" checked="checked" name="remember" />
            Recordar datos del usuario
          </label>
          <span><a href="#"> Olvidé mi contraseña</a></span>
        </div>
        <button type="submit" class="formulario__button" [disabled]="email.invalid || password.invalid">
          INICIAR SESIÓN
          <!--<a routerLink="">INICIAR SESIÓN</a> (eliminado porque generaba interferencia)-->
        </button>
        <h5 class="formulario__registrarse">
          ¿Todavía no tenés una cuenta?
          <a href="./registro.html">Registrate gratis</a>
        </h5>
      </form>
    </div>
    <!--Imagen-->

    <img
      src="./assets/img/login-hero.png"
      alt="Imagen de un profesional"
      class="login__img"
    />
  </div>
</main>
