main {
  background-color: var(--main-white);
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

.aboutus-section {
  padding: 90px 0;
}

.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}

.aboutus-title::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}

.aboutus-text {
  color: #606060;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 35px;
}

a:hover,
a:active {
  color: #ffb901;
  text-decoration: none;
  outline: 0;
}

.aboutus-more {
  border: 1px solid #fdb801;
  border-radius: 25px;
  color: #fdb801;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
}

.feature .feature-box .iconset {
  background: #fff none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 18%;
}

.feature .feature-box .iconset::after {
  background: #fdb801 none repeat scroll 0 0;
  content: "";
  height: 150%;
  left: 43%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}

.feature .feature-box .feature-content {
  float: left;
  padding-left: 28px;
  width: 78%;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
  color: #606060;
  font-size: 16px;
  line-height: 22px;
}

.icon {
  color: #f4b841;
  padding: 0px;
  font-size: 40px;
  border: 1px solid #fdb801;
  border-radius: 100px;
  color: #fdb801;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}

/*cartas */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
:root {
  --font3: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.container-fluid {
  max-width: 1400px;
}

.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border: 1;
  border-radius: 1rem;
}

.img-hover-zoom--colorize img {
  border-radius: 50%;
  width: 150px;
  height: 200px;
  margin-top: 20px;
  padding: 1px;
  transition: transform 0.5s;
  filter: grayscale(100%);
  object-fit: cover;
}

.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
}

.card h5 {
  overflow: hidden;
  height: 70px;
  font-weight: 300;
  font-size: 0.5rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
}

.role {
  color: #7a7a7a;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab {
  font-size: 1.3rem;
  color: darkgray;
  transition: transform 0.5s;
}

.fab:hover {
  color: black;
  transform: scale(1.1);
}

.card h2 {
  font-size: 1.2rem;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: 0.5em 0.2em;
}

ul li a {
  text-decoration: none;
  color: white;
  /* background: #314652; */
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

ul li a:hover {
  transform: scale(1.2);
}

/* MEDIA */

@media only screen and (min-width: 1200px) {
  .img-hover-zoom--colorize img {
    width: 200px;
  }
}

@media only screen and (max-width: 1100px) {
  .h1,
  h1 {
    font-size: 2rem;
  }
  .aboutus-banner .imagen .aboutus-more {
    display: none;
  }
}
/* end section */
