main {
  background-color: var(--main-white);
  padding: 60px;
  overflow: hidden;
}

.titulo h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--main-dark-blue);
  text-align: center;
}

.titulo h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.titulo h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--main-light-blue);
  bottom: 0;
  left: calc(50% - 20px);
}

.card {
  margin-top:20px;
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}

.section-title {
  text-align: center;
}

h3 {
  font-size: x-large;
}

div h1 {
  font-weight: 700;
}

.bg-custom {
  background-color: rgb(0, 30, 108);
}

div.card {
  position:static;
  height: 100%;
}

.site-wraper {
  padding-top: 24px;
  padding-bottom: 5px;
}

.card-title {
  color: #333;
}

.card-text {
  color: gray;
}

.card-img-top {
  margin: 15px;
}
